@charset "utf-8";

*{
    font-family:"Courier New", Courier, monospace;
    font-size: 16px;
    font-weight: bold;
}

body{
    background-image: url("../images/general/background.png");
}

.navbar{
    border-color: grey;
    text-align: center;
}


.navbar ul li a {
	/*vendor specifics: */
	-webkit-transition: box-shadow 0.6s;
	-moz-transition: box-shadow 0.6s;
	-ms-transition: box-shadow 0.6s;
	-o-transition: box-shadow 0.6s;
	transition: box-shadow 0.6s;
}

.navbar li a:hover{
    color: white;
    border:1px solid grey;
    box-shadow: inset 0px 0px 45px rgb(154, 133, 137);
    /* smothing */
    border-radius: 10px;
    padding: 14px;
}

.jumbotron{
    background-color: black;
}

.jumbotron img{
    max-width: 100%;
}

footer{
    text-align: center;
}

#social .btn{
    margin: -8px;
}

#social img #imdb{
    height: 38px;
}

#social a{
    color: rgb(55, 55, 55);
}

#social a:hover{
    color: #33FFCC;
}

#text img{
    float: left;
    max-width: 40%;
    margin-right: 2%;
    border-radius: 10px;
}

#text p{
    text-align: justify;
}

#text a{
    color: rgb(55, 55, 55);
    text-decoration: underline;
}

html { 
    overflow-y: scroll; 
}

#hidden_hr{
    display: none;
}

/* Responsive Media Queries */

@media screen and (max-width:991px){
    #social img{
        display: none;
    }
    #hidden_hr{
        display: block;
    }
}