@charset "utf-8";

*{
    font-family:"Courier New", Courier, monospace;
    font-size: 16px;
    font-weight: bold;
}

body{
    background-image: url("../images/general/background.png");
}

.navbar{
    border-color: grey;
    text-align: center;
}


.navbar ul li a {
	/*vendor specifics: */
	-webkit-transition: box-shadow 0.6s;
	-moz-transition: box-shadow 0.6s;
	-ms-transition: box-shadow 0.6s;
	-o-transition: box-shadow 0.6s;
	transition: box-shadow 0.6s;
}

.navbar li a:hover{
    color: white;
    border:1px solid grey;
    box-shadow: inset 0px 0px 45px rgb(154, 133, 137);
    /* smothing */
    border-radius: 10px;
    padding: 14px;
}

footer{
    text-align: center;
}

#text {
    /* Todo: Add shadow*/
    width: 95%;
    background: white;
    /* Remove to go with paper effect.
     *float: none;
     */
    text-indent: 2.5%;
    
}

#text h4{
    font-weight: bold;
}

#mini-nav{
    margin-left: 18%;
    margin-top: 5%;
    width: 50%;
    background: grey;
    text-align: center;
    
}

#mini-nav a{
    color: black;
    font-weight: bolder;
    font-size: 120%;
    text-decoration: none;
    
}

#main-image img{
    min-width: 96%;
}

html { 
    overflow-y: scroll; 
}




